<!-- Portfolio\SIPA\courses\templates\courses\list_competencies.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Competencies</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'courses/css/home.css' %}">
</head>
<body>
    <h1>Competencies</h1>
    <ul>
    {% for competency in competencies %}
        <li>{{ competency.name }} (Category: {{ competency.get_category_display }})</li>
    {% endfor %}
    </ul>
    <a href="{% url 'add_competency' %}" class="button">Add Competency</a>
    <a href="{% url 'home' %}" class="button">Back to Home</a>
</body>
</html>
